USE [techcd]
GO
/****** Object:  StoredProcedure [dbo].[SP_SPED_FATURA_NOTAFISCAL1]    Script Date: 02/10/2017 14:39:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
pegar datas para o header 
*/
ALTER procedure [dbo].[SP_SPED_FATURA_NOTAFISCAL1]

@DATAINI AS DATETIME , 
@DATAFIN AS DATETIME 
AS
/*Soma nos ID foi solicitada por um BUG no sistema da FIT os ID em seguenciais do DB está conflitando
pediram para somar 1000000000 para resolver o problema temporariamente.*/
SELECT DISTINCT (I.COD_NF_ENTRADA + 1000000000) AS CODIGO, 
CASE
WHEN T.COD_PAGTO = 6 OR T.COD_PAGTO = 7 THEN '01'
WHEN T.DESC_PAGTO = 'DUPLICATA' THEN '00'
WHEN T.DESC_PAGTO = 'PROMISSORIA' THEN '02'
WHEN T.DESC_PAGTO  ='RECIBO' THEN '03'
ELSE '99' END AS TIPOCREDITO , (I.COD_NF_ENTRADA + 1000000000) AS NUMEROTITULO , 
(SELECT COUNT(*) FROM ITM_NFE_ENTRADA_PAGTO WHERE COD_NF_ENTRADA = I.COD_NF_ENTRADA) AS NUMEROPARCELAS ,
(SELECT DISTINCT SUM(I.VAl_PARC) FROM ITM_NFE_ENTRADA_PAGTO WHERE COD_NF_ENTRADA = I.COD_NF_ENTRADA) AS VALORTITULO
FROM ITM_NFE_ENTRADA_PAGTO AS I, TIPO_PAGTO AS T , NFE_ENTRADA AS N
WHERE I.TIPO_PAGTO = T.COD_PAGTO AND 
I.COD_NF_ENTRADA =  N.COD_NF_ENTRADA AND
N.DATA_ENTRADA BETWEEN @DATAINI AND @DATAFIN 
GROUP BY  I.COD_NF_ENTRADA , T.COD_PAGTO ,T.DESC_PAGTO
ORDER BY NUMEROTITULO ASC;

/*Soma nos ID foi solicitada por um BUG no sistema da FIT os ID em seguenciais do DB está conflitando
pediram para somar 1000000000 para resolver o problema temporariamente.*/
SELECT I.COD_NF_SAIDA  AS CODIGO, 
CASE
WHEN T.COD_PAGTO = 6 OR T.COD_PAGTO = 7 THEN '01'
WHEN T.DESC_PAGTO = 'DUPLICATA' THEN '00'
WHEN T.DESC_PAGTO = 'PROMISSORIA' THEN '02'
WHEN T.DESC_PAGTO = 'RECIBO' THEN '03'
ELSE '99' END AS TIPOCREDITO ,
T.DESC_PAGTO AS DESCRICAO ,  I.COD_NF_SAIDA  AS NUMEROTITULO , 
I.PARCNF_SAIDA_PAGTO  AS NUMEROPARCELAS , I.VAlNF_SAIDA_PAGTO AS VALORTITULO
FROM ITM_NFE_SAIDA_PAGTO AS I, TIPO_PAGTO AS T , NFE AS N
WHERE I.COD_PAGTO = T.COD_PAGTO AND 
I.COD_NF_SAIDA =  N.COD_NF_SAIDA AND 
N.DATAEMIS_NF_SAIDA BETWEEN @DATAINI AND @DATAFIN
AND N.TIPO_NF_SAIDA = 'E'




