USE [techcd]
GO
/****** Object:  StoredProcedure [dbo].[SP_SPED_UNIDADE_MEDIDA_CONVERSAO]    Script Date: 02/10/2017 14:39:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
pegar datas para o header 
*/
ALTER procedure [dbo].[SP_SPED_UNIDADE_MEDIDA_CONVERSAO]

@DATAINI AS DATETIME ,
@DATAFIN AS DATETIME	

AS

IF @DATAINI IS NULL OR @DATAFIN IS NULL 
BEGIN

SELECT P.COD_PROD AS CODIGO
FROM PRODUTOS AS P 
WHERE P.COD_PROD IN(SELECT DISTINCT  ITM.COD_PROD 
FROM ITM_NFE_ENTRADA AS ITM , NFE_ENTRADA AS NFE 
WHERE ITM.COD_NF_ENTRADA = NFE.COD_NF_ENTRADA AND 
YEAR(NFE.DATA_ENTRADA) = YEAR(GETDATE()) AND  
MONTH(NFE.DATA_ENTRADA) = MONTH(GETDATE()))

END 

ELSE 

SELECT P.COD_PROD AS CODIGO
FROM PRODUTOS AS P 
WHERE P.COD_PROD IN(SELECT DISTINCT  ITM.COD_PROD 
FROM ITM_NFE_ENTRADA AS ITM , NFE_ENTRADA AS NFE 
WHERE ITM.COD_NF_ENTRADA = NFE.COD_NF_ENTRADA AND 
NFE.DATA_ENTRADA BETWEEN @DATAINI AND @DATAFIN ) 





