USE [techcd]
GO
/****** Object:  StoredProcedure [dbo].[SP_REL_CONTABILIDADE_CONTAS_PAGAR_TECHCD]    Script Date: 02/10/2017 14:38:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_REL_CONTABILIDADE_CONTAS_PAGAR_TECHCD]
		@INI AS datetime, 
		@FIM AS datetime 
AS

BEGIN
	--Contas a Pagar
----NFE	FORNECEDOR	EMISSAO	VENCIMENTO	 VALOR
--- TECHCD 

SELECT NFE.NUMDOC_NF_ENTRADA AS NFE ,F.NOME_FORN AS FORNECEDOR  , 
CONVERT(NVARCHAR,NFE.DATA_EMISS,103) AS EMISSAO , 
CONVERT(NVARCHAR,ITM.VENC_PARC,103) AS VENCIMENTO, ITM.VAL_PARC AS PARCELA 
FROM nfe_entrada AS NFE  
INNER JOIN FORNECEDORES AS F ON F.COD_FORN = NFE.COD_FORN
INNER JOIN itm_nfe_entrada_PAGTO AS ITM ON ITM.COD_NF_ENTRADA =  NFE.COD_NF_ENTRADA
WHERE nfe.DATA_EMISS BETWEEN @INI AND @FIM 
ORDER BY ITM.VENC_PARC

END
