USE [techcd]
GO
/****** Object:  StoredProcedure [dbo].[SP_REL_CONTABILIDADE_DESPESAS_TECHCD]    Script Date: 02/10/2017 14:38:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_REL_CONTABILIDADE_DESPESAS_TECHCD] 

	
		@INI as datetime,
		@FIM as datetime

AS
BEGIN

SELECT cp.COD_DESP , CP.NUMDOC_PAGAR, DESP.DESC_DESP , TP.DESC_PAGTO , FP.DESC_FRMPAGTO , 
BANCOS.DESC_BANCO , CP.VALORPREV_PAGAR , CP.VALORREAL_PAGAR , CP.QUEMQUIT_PAGAR ,
convert(nvarchar,CP.DATAVENC_PAGAR,103) AS VENCIMENTO , convert(nvarchar,CP.DATAQUIT_PAGAR,103) AS QUITAÇÃO
FROM  CONTAS_PAGAR AS CP
INNER JOIN DESPESAS AS DESP ON DESP.COD_DESP = CP.COD_DESP
INNER JOIN TIPO_PAGTO AS TP ON TP.COD_PAGTO =  CP.COD_PAGTO
INNER JOIN FORMA_PAGTO AS FP ON FP.COD_FRMPAGTO = CP.COD_FRMPAGTO
INNER JOIN BANCOS ON BANCOS.COD_BANCO = CP.COD_BANCO 
WHERE CP.DATAVENC_PAGAR BETWEEN @INI AND  @FIM
order BY CP.DATAVENC_PAGAR ASC 

END
