USE [techcd]
GO
/****** Object:  StoredProcedure [dbo].[SP_SPED_PESSOAPARTICIPANTE]    Script Date: 02/10/2017 14:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
pegar datas para o header 
*/
ALTER procedure [dbo].[SP_SPED_PESSOAPARTICIPANTE]

@DATAINI AS DATETIME , 
@DATAFIN AS DATETIME 

AS

SELECT	DISTINCT   F.COD_FORN AS CODIGO, F.NOME_FORN AS RAZAO, F.CNPJ_FORN AS CNPJ, F.IE_FORN AS IE, 
CONVERT(NVARCHAR(MAX),F.END_FORN) AS ENDERECO , F.NUM_FORN AS NUMERO , F.CEP_FORN AS CEP , F.BAIR_FORN AS BAIRRO,
M.COD_MUNICIP AS CODMUNICIPIO ,F.TEL1_FORN AS TELEFONE, F.FAX_FORN AS FAX , F.EMAIL_FORN AS EMAIL 
FROM FORNECEDORES AS F, MUNICIPIOS AS M
WHERE M.NOME_MUNICIP COLLATE Latin1_General_CI_AI = F.CID_FORN AND  
M.UF COLLATE Latin1_General_CI_AI = F.EST_FORN AND  
F.COD_FORN IN(SELECT NFE.COD_FORN FROM NFE_ENTRADA AS NFE WHERE 
NFE.DATA_ENTRADA BETWEEN @DATAINI AND @DATAFIN)
ORDER BY F.COD_FORN ASC; 	


SELECT DISTINCT  C.COD_CLI AS CODIGO, C.NOME_CLI AS RAZAO, C.CNPJ_CLI AS CNPJ, C.IE_CLI AS IE, 
C.END_CLI AS ENDERECO , C.NUM_CLI AS NUMERO , C.CEP_CLI AS CEP , C.BAIR_CLI AS BAIRRO,
M.COD_MUNICIP AS CODMUNICIPIO ,C.TEL1_CLI AS TELEFONE, C.FAX_CLI AS FAX , C.EMAIL_CLI AS EMAIL ,
C.PES_CLI AS TIPOCLIENTE , C.CPF_CLI AS CPF 
FROM CLIENTES AS C, MUNICIPIOS AS M
WHERE M.NOME_MUNICIP COLLATE Latin1_General_CI_AI = C.CID_CLI AND 
C.EST_CLI COLLATE Latin1_General_CI_AI = M.UF AND
C.COD_CLI IN(SELECT NFE.COD_CLI FROM NFE AS NFE 
WHERE NFE.DATAEMIS_NF_SAIDA BETWEEN @DATAINI AND @DATAFIN AND NFE.TIPO_NF_SAIDA =  'E')
ORDER BY C.COD_CLI ASC ;


