USE [techcd]
GO
/****** Object:  StoredProcedure [dbo].[SP_SPED_HEADER]    Script Date: 02/10/2017 14:39:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
pegar datas para o header 
*/
ALTER procedure [dbo].[SP_SPED_HEADER]

@DATAINI AS DATETIME ,
@DATAFIN AS DATETIME	



AS

IF @DATAINI IS NULL OR @DATAFIN IS NULL
BEGIN

DECLARE @DATAINICIAL AS DATETIME 
DECLARE @DATAFINAL AS DATETIME	

SET @DATAINICIAL =  (SELECT MIN(DATA_EMISS)
FROM nfe_entrada 
WHERE YEAR(DATA_ENTRADA) = YEAR(GETDATE()) AND   MONTH(DATA_ENTRADA) = MONTH(GETDATE()))


SET @DATAFINAL = (SELECT   MAX(DATA_EMISS)
FROM nfe_entrada 
WHERE YEAR(DATA_ENTRADA) = YEAR(GETDATE()) AND   MONTH(DATA_ENTRADA) = MONTH(GETDATE()))


SELECT @DATAINICIAL AS INICIAL, @DATAFINAL AS FINAL
	

END 

ELSE 

SELECT @DATAINI AS INICIAL, @DATAFIN AS FINAL
