USE [techcd]
GO
/****** Object:  StoredProcedure [dbo].[SP_SPED_NOTA_FISCAL_1]    Script Date: 02/10/2017 14:39:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
pegar datas para o header 
*/
ALTER procedure [dbo].[SP_SPED_NOTA_FISCAL_1]

@DATAINI AS DATETIME, 
@DATAFIN AS DATETIME 

AS
/*Soma nos ID foi solicitada por um BUG no sistema da FIT os ID em seguenciais do DB está conflitando
pediram para somar 1000000000 para resolver o problema temporariamente.*/
SELECT (NFE.COD_NF_ENTRADA + 1000000000) AS CODIGO, NFE.COD_FORN AS CODFORNECEDOR , NFE.NUMDOC_NF_ENTRADA AS CODIGONFE, VALSERV_NF_ENTRADA  AS OUTRASDESPESAS ,
NFE.DATA_EMISS AS DATAEMISS , NFE.DATA_ENTRADA AS DATAENTRADA , NFE.SERIE_NF_ENTRADA AS SERIEDOC , NFE.CHAVE_NF_ENTRADA AS CHAVE ,

/*NFE.BCICMSST_NF_ENTRADA*/
(SELECT SUM(I.BASEST_NF_ENTRADA)FROM ITM_NFE_ENTRADA AS I 
WHERE I.COD_NF_ENTRADA  = NFE.COD_NF_ENTRADA AND I.CFOP_NF_ENTRADA <> '1102' AND I.CFOP_NF_ENTRADA <> '2102'AND I.CFOP_NF_ENTRADA <> '1551' AND I.CFOP_NF_ENTRADA <> '2551'
AND I.CFOP_NF_ENTRADA <> '1403' AND I.CFOP_NF_ENTRADA <> '1407' AND I.CFOP_NF_ENTRADA <> '2407' AND I.CFOP_NF_ENTRADA <> '1556'
AND I.CFOP_NF_ENTRADA <> '2556' AND I.CFOP_NF_ENTRADA <> '2403' ) AS BASEST , COD_MOD AS CODMODELO , COD_SIT AS CODSITUACAO , VALENVIO_NF_ENTRADA AS FRETE , 

/*BASE_ICMS_NF_ENTRADA*/
(SELECT SUM(I.BASE_ICMS)FROM ITM_NFE_ENTRADA AS I 
WHERE I.COD_NF_ENTRADA  = NFE.COD_NF_ENTRADA AND I.CFOP_NF_ENTRADA <> '1403' AND I.CFOP_NF_ENTRADA <> '1407' AND
I.CFOP_NF_ENTRADA <> '2407' AND I.CFOP_NF_ENTRADA <> '1556' AND I.CFOP_NF_ENTRADA <> '1551' AND I.CFOP_NF_ENTRADA <> '2551'
AND I.CFOP_NF_ENTRADA <> '2556' AND I.CFOP_NF_ENTRADA <> '2403' ) AS BASEICMS ,

CASE
WHEN NFE.TIPO_PAGTO = 'A VISTA' THEN '0'
WHEN NFE.TIPO_PAGTO = 'A PRAZO' THEN '1'ELSE '0'
END AS TIPOPAGAMENTO , 
NFE.VALTOTAL_NF_ENTRADA AS VALORDOCUMENTO  , 
NFE.VALPROD_NF_ENTRADA + NFE.VALSERV_NF_ENTRADA AS VALORPRODSERV ,
CASE
WHEN PAGAFRETE_NF_ENTRADA = 'T' THEN '1'
WHEN PAGAFRETE_NF_ENTRADA = 'F'THEN '2'
END TIPOFRETE , 

/*NFE.VALICMS_NF_ENTRADA*/
(SELECT SUM((I.QTDE_NF_ENTRADA * I.VAL_NF_ENTRADA) * I.ICMS_NF_ENTRADA / 100)FROM ITM_NFE_ENTRADA AS I 
WHERE I.COD_NF_ENTRADA  = NFE.COD_NF_ENTRADA AND I.CFOP_NF_ENTRADA <> '1403' AND I.CFOP_NF_ENTRADA <> '1407' AND I.CFOP_NF_ENTRADA <> '1551' AND I.CFOP_NF_ENTRADA <> '2551'
AND I.CFOP_NF_ENTRADA <> '2407' AND I.CFOP_NF_ENTRADA <> '1556'AND  I.CFOP_NF_ENTRADA <> '1551' AND I.CFOP_NF_ENTRADA <> '2551'
AND I.CFOP_NF_ENTRADA <> '2556' AND I.CFOP_NF_ENTRADA <> '2403' ) AS VALORICMS ,/* NFE.ICMSST_NF_ENTRADA*/

(SELECT SUM(I.ST_NF_ENTRADA)FROM ITM_NFE_ENTRADA AS I 
WHERE I.COD_NF_ENTRADA  = NFE.COD_NF_ENTRADA AND I.CFOP_NF_ENTRADA <> '1102' AND I.CFOP_NF_ENTRADA <> '2102' AND I.CFOP_NF_ENTRADA <> '1551' AND I.CFOP_NF_ENTRADA <> '2551'
AND I.CFOP_NF_ENTRADA <> '1403' AND I.CFOP_NF_ENTRADA <> '1407' AND I.CFOP_NF_ENTRADA <> '2407' AND I.CFOP_NF_ENTRADA <> '1556'
AND I.CFOP_NF_ENTRADA <> '2556' AND I.CFOP_NF_ENTRADA <> '2403' ) AS SUBSTRIBURTARIAICMS , 

(SELECT SUM(I.VALORIPI_NF_ENTRADA)FROM ITM_NFE_ENTRADA AS I 
WHERE I.COD_NF_ENTRADA  = NFE.COD_NF_ENTRADA AND I.CFOP_NF_ENTRADA <> '1102' AND I.CFOP_NF_ENTRADA <> '2102'
AND I.CFOP_NF_ENTRADA <> '1403' AND I.CFOP_NF_ENTRADA <> '1407' AND I.CFOP_NF_ENTRADA <> '2407' AND I.CFOP_NF_ENTRADA <> '1556'
AND I.CFOP_NF_ENTRADA <> '2556' AND I.CFOP_NF_ENTRADA <> '2403' AND I.CFOP_NF_ENTRADA <> '1551' AND I.CFOP_NF_ENTRADA <> '2551' ) AS  IPI ,  
NFE.OBS_NF_ENTRADA AS OBS, NFE.CNPJ_NF_ENTRADA AS CNPJ
FROM NFE_ENTRADA AS NFE
WHERE NFE.DATA_ENTRADA BETWEEN @DATAINI AND @DATAFIN; 

/*Soma nos ID foi solicitada por um BUG no sistema da FIT os ID em seguenciais do DB está conflitando
pediram para somar 1000000000 para resolver o problema temporariamente.*/
SELECT NFE.COD_NF_SAIDA  AS CODIGO, NFE.COD_CLI AS CODFORNECEDOR , NFE.COD_NF_SAIDA AS CODIGONFE,
NFE.DATAEMIS_NF_SAIDA AS DATAEMISS , NFE.DATAEMIS_NF_SAIDA AS DATAENTRADA  , NFE.SERIE_NF AS SERIEDOC , NFE.CHAVE_NF AS CHAVE ,
NFE.BASE_ICMS AS BASEICMS , NFE.COD_MOD_NF AS CODMODELO , NFE.COD_SIT_NF AS CODSITUACAO , TOTFRETE_NF_SAIDA AS FRETE , BASE_SUBST_TRIBUTARIA AS BASEST , 
NFE.TOTAL_NF_SAIDA AS VALORDOCUMENTO  , 
NFE.TOTPROD_NF_SAIDA + NFE.TOTSERV_NF_SAIDA AS VALORPRODSERV , NFE.PES_CLI AS TIPOCLIENTE , NFE.CPF_CLI AS CPF ,
CASE
WHEN PAGAFRETE_NF_SAIDA = 'T' THEN '1'
WHEN PAGAFRETE_NF_SAIDA = 'C'THEN '2'
END TIPOFRETE , 
NFE.VAL_ICMS AS VALORICMS , NFE.SUBST_TRIBUTARIA AS SUBSTRIBURTARIAICMS , 
NFE.IPI_NF_SAIDA AS IPI ,  NFE.BASE_NF_SAIDA AS OBS, NFE.CNPJ_CLI AS CNPJ
FROM NFE AS NFE
WHERE NFE.DATAEMIS_NF_SAIDA BETWEEN @DATAINI AND @DATAFIN  AND  NFE.TIPO_NF_SAIDA = 'E';




