USE [techcd]
GO
/****** Object:  StoredProcedure [dbo].[SP_SPED_VENCIMENTO_FATURA_FISCAL1]    Script Date: 02/10/2017 14:39:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
pegar datas para o header 
*/
ALTER procedure [dbo].[SP_SPED_VENCIMENTO_FATURA_FISCAL1]

@DATAINI AS DATETIME, 
@DATAFIN AS DATETIME 

AS
/*Soma nos ID foi solicitada por um BUG no sistema da FIT os ID em seguenciais do DB está conflitando
pediram para somar 1000000000 para resolver o problema temporariamente.*/
SELECT (I.COD_NF_ENTRADA + 1000000000) AS CODIGO, I.COD_PARC AS NUMEROPARCELA , I.VENC_PARC AS DATAVENC , 
I.VAL_PARC  AS VALOR 
FROM ITM_NFE_ENTRADA_PAGTO AS I, NFE_ENTRADA AS N 
WHERE  I.COD_NF_ENTRADA = N.COD_NF_ENTRADA AND 
N.DATA_ENTRADA BETWEEN @DATAINI AND @DATAFIN;


SELECT I.COD_NF_SAIDA AS CODIGO, I.PARCNF_SAIDA_PAGTO AS NUMEROPARCELA , I.DATAVENCNF_SAIDA_PAGTO AS DATAVENC , 
I.VALNF_SAIDA_PAGTO  AS VALOR 
FROM ITM_NFE_SAIDA_PAGTO AS I 
WHERE I.COD_NF_SAIDA IN( SELECT N.COD_NF_SAIDA 
FROM NFE AS N 
WHERE N.DATAEMIS_NF_SAIDA BETWEEN @DATAINI AND @DATAFIN AND  N.TIPO_NF_SAIDA = 'E'); 



