USE [techcd]
GO
/****** Object:  StoredProcedure [dbo].[SP_SPED_PRODUTO_SERVICO]    Script Date: 02/10/2017 14:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
pegar datas para o header 
*/
ALTER procedure [dbo].[SP_SPED_PRODUTO_SERVICO]

@DATAINI AS DATETIME, 
@DATAFIN AS DATETIME 

AS


SELECT DISTINCT P.COD_PROD AS CODIGO , P.DESC_PROD  AS DESCRICAO ,
CASE
WHEN LTRIM(I.CFOP_NF_ENTRADA) = '1102' THEN '00'
WHEN LTRIM(I.CFOP_NF_ENTRADA) = '1403' THEN '00'
WHEN LTRIM(I.CFOP_NF_ENTRADA) = '1407' THEN '07'
WHEN LTRIM(I.CFOP_NF_ENTRADA) = '1556' THEN '07'
WHEN LTRIM(I.CFOP_NF_ENTRADA) = '2102' THEN '00'
WHEN LTRIM(I.CFOP_NF_ENTRADA) = '2403' THEN '00'
WHEN LTRIM(I.CFOP_NF_ENTRADA) = '2407' THEN '07'
WHEN LTRIM(I.CFOP_NF_ENTRADA) = '2556' THEN '07'
ELSE '99'
END TIPOITEM  , P.CLASSITRIB_PROD AS NCM
FROM NFE_ENTRADA AS NFE , PRODUTOS AS P , ITM_NFE_ENTRADA AS I 
WHERE NFE.COD_NF_ENTRADA =  I.COD_NF_ENTRADA AND 
I.COD_PROD = P.COD_PROD AND 
NFE.DATA_ENTRADA BETWEEN @DATAINI AND @DATAFIN;

SELECT DISTINCT P.COD_PROD AS CODIGO , P.DESC_PROD  AS DESCRICAO ,
CASE
WHEN LTRIM(I.CFOP_NF_SAIDA) = '1102' THEN '00'
WHEN LTRIM(I.CFOP_NF_SAIDA) = '1403' THEN '00'
WHEN LTRIM(I.CFOP_NF_SAIDA) = '1407' THEN '07'
WHEN LTRIM(I.CFOP_NF_SAIDA) = '1556' THEN '07'
WHEN LTRIM(I.CFOP_NF_SAIDA) = '2102' THEN '00'
WHEN LTRIM(I.CFOP_NF_SAIDA) = '2403' THEN '00'
WHEN LTRIM(I.CFOP_NF_SAIDA) = '2407' THEN '07'
WHEN LTRIM(I.CFOP_NF_SAIDA) = '2556' THEN '07'
ELSE '99'
END TIPOITEM  , P.CLASSITRIB_PROD AS NCM
FROM NFE AS NFE , PRODUTOS AS P , ITM_NFE_SAIDA AS I ,NATUREZA_OPERACAO AS NOP 
WHERE NFE.COD_NF_SAIDA =  I.COD_NF_SAIDA AND  
I.COD_PROD = P.COD_PROD AND  
NFE.DATAEMIS_NF_SAIDA BETWEEN @DATAINI AND @DATAFIN AND NFE.TIPO_NF_SAIDA = 'E';
 


