USE [techcd]
GO
/****** Object:  StoredProcedure [dbo].[SP_SPED_ITEM_NOTA_FISCAL1]    Script Date: 02/10/2017 14:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
pegar datas para o header 
*/
ALTER procedure [dbo].[SP_SPED_ITEM_NOTA_FISCAL1]

@DATAINI AS DATETIME , 
@DATAFIN AS DATETIME 

AS

/*Soma nos ID foi solicitada por um BUG no sistema da FIT os ID em seguenciais do DB está conflitando
pediram para somar 1000000000 para resolver o problema temporariamente.*/
SELECT (I.COD_NF_ENTRADA + 1000000000) AS CODIGO,
ROW_NUMBER()OVER(PARTITION BY I.COD_NF_ENTRADA ORDER BY I.COD_NF_ENTRADA) AS NITEM , 
CASE 
WHEN I.COD_PROD = 0 THEN I.COD_SERV
WHEN I.COD_SERV = 0 THEN I.COD_PROD 
END AS CODPRODSERV ,
CASE
WHEN I.CFOP_NF_ENTRADA = '1.556' THEN   '0'
WHEN I.CFOP_NF_ENTRADA = '1303'  THEN   '0'
WHEN I.CFOP_NF_ENTRADA = '1253'  THEN   '0'
WHEN I.CFOP_NF_ENTRADA = '1.556' THEN   '0'
ELSE '1'
END AS GERAESTOQUE , 
P.DESC_PROD AS DESCRICAO , 
I.QTDE_NF_ENTRADA AS QUANTIDADE , I.VALOR_NF_PROD AS VALORUNITARIO , 
I.VALOR_NF_PROD * I.QTDE_NF_ENTRADA AS VALORTOTAL, I.DESCONTO_NF_ENTRADA AS VALORDESCONTO , 
I.SITTRIBUT_NF_ENTRADA AS CST , I.CFOP_NF_ENTRADA AS CFOP , N.COD_NAT AS CODNAT ,

CASE/*I.QTDE_NF_ENTRADA * I.VALOR_NF_PROD * ICMS_NF_ENTRADA / 100  AS VALORICMS , */
WHEN I.CFOP_NF_ENTRADA = '1403' OR  I.CFOP_NF_ENTRADA ='1407' OR  I.CFOP_NF_ENTRADA ='2407' OR 
 I.CFOP_NF_ENTRADA = '1556' OR I.CFOP_NF_ENTRADA = '2556' OR I.CFOP_NF_ENTRADA = '1551' OR I.CFOP_NF_ENTRADA = '2551' 
OR I.CFOP_NF_ENTRADA = '2403' THEN 0.00 ELSE I.QTDE_NF_ENTRADA * I.VALOR_NF_PROD * ICMS_NF_ENTRADA / 100  END AS VALORICMS ,

CASE/*I.BASE_ICMS AS BASEICMSST , */
WHEN I.CFOP_NF_ENTRADA = '1403' OR I.CFOP_NF_ENTRADA = '1407' OR  I.CFOP_NF_ENTRADA ='2407' OR  
I.CFOP_NF_ENTRADA = '1556' OR I.CFOP_NF_ENTRADA = '2556' OR I.CFOP_NF_ENTRADA = '1551' OR I.CFOP_NF_ENTRADA = '2551' 
OR I.CFOP_NF_ENTRADA = '2403' THEN 0.00 ELSE I.BASE_ICMS END AS BASEICMSST ,

CASE /*I.ST_NF_ENTRADA AS VALORST ,*/
WHEN I.CFOP_NF_ENTRADA = '1403' OR I.CFOP_NF_ENTRADA = '1407' OR  I.CFOP_NF_ENTRADA ='1102' OR  
I.CFOP_NF_ENTRADA ='2102' OR  I.CFOP_NF_ENTRADA ='2407' OR  I.CFOP_NF_ENTRADA = '1556' OR I.CFOP_NF_ENTRADA = '2556' 
OR I.CFOP_NF_ENTRADA = '2403' OR I.CFOP_NF_ENTRADA = '1551' OR I.CFOP_NF_ENTRADA = '2551' THEN 0.00 ELSE I.ST_NF_ENTRADA END AS VALORST ,
 
PIS_NF_ENTRADA AS VALORPIS , COFINS_NF_ENTRADA AS VALORCOFINS , 
CASE /*I.ICMS_NF_ENTRADA AS ICMSALIQUOTA ,*/
WHEN I.CFOP_NF_ENTRADA = '1403' OR I.CFOP_NF_ENTRADA ='2102' OR  I.CFOP_NF_ENTRADA ='2407' OR 
 I.CFOP_NF_ENTRADA = '1556' OR I.CFOP_NF_ENTRADA = '2556' OR I.CFOP_NF_ENTRADA = '1551' OR I.CFOP_NF_ENTRADA = '2551' 
OR I.CFOP_NF_ENTRADA = '2403' THEN 0.00 ELSE I.ICMS_NF_ENTRADA END AS ICMSALIQUOTA ,

CASE /*I.IPI_NF_ENTRADA AS IPIALIQUOTA ,*/
WHEN I.CFOP_NF_ENTRADA = '1403' OR I.CFOP_NF_ENTRADA = '1407' OR  I.CFOP_NF_ENTRADA ='1102' OR  
I.CFOP_NF_ENTRADA ='2102' OR  I.CFOP_NF_ENTRADA ='2407' OR  I.CFOP_NF_ENTRADA = '1556' OR I.CFOP_NF_ENTRADA = '2556' 
OR I.CFOP_NF_ENTRADA = '2403' OR I.CFOP_NF_ENTRADA = '1551' OR I.CFOP_NF_ENTRADA = '2551' THEN 0.00 ELSE I.IPI_NF_ENTRADA END AS IPIALIQUOTA ,

CASE /*I.BASEST_NF_ENTRADA AS BASEST ,*/
WHEN I.CFOP_NF_ENTRADA = '1403' OR I.CFOP_NF_ENTRADA = '1407' OR  I.CFOP_NF_ENTRADA ='1102' OR  
I.CFOP_NF_ENTRADA ='2102' OR  I.CFOP_NF_ENTRADA ='2407' OR  I.CFOP_NF_ENTRADA = '1556' OR I.CFOP_NF_ENTRADA = '2556' 
OR I.CFOP_NF_ENTRADA = '2403' OR I.CFOP_NF_ENTRADA = '1551' OR I.CFOP_NF_ENTRADA = '2551' THEN 0.00 ELSE I.BASEST_NF_ENTRADA END AS BASEST ,

CASE /*I.VALORIPI_NF_ENTRADA AS VALORIPI , */
WHEN I.CFOP_NF_ENTRADA = '1403' OR I.CFOP_NF_ENTRADA = '1407' OR  I.CFOP_NF_ENTRADA ='1102' OR  
I.CFOP_NF_ENTRADA ='2102' OR  I.CFOP_NF_ENTRADA ='2407' OR  I.CFOP_NF_ENTRADA = '1556' OR I.CFOP_NF_ENTRADA = '2556' 
OR I.CFOP_NF_ENTRADA = '2403' OR I.CFOP_NF_ENTRADA = '1551' OR I.CFOP_NF_ENTRADA = '2551' THEN 0.00 ELSE I.VALORIPI_NF_ENTRADA END AS VALORIPI ,

CONVERT(DECIMAL(10,2),(I.VALOR_NF_PROD * I.QTDE_NF_ENTRADA)+ I.VALORIPI_NF_ENTRADA + I.FRETE_NF_ENTRADA + I.ST_NF_ENTRADA 
+ I.DESCONTO_NF_ENTRADA)  AS VALORCONTABIL
FROM ITM_NFE_ENTRADA AS I , PRODUTOS AS P , NFE_ENTRADA AS N 
WHERE P.COD_PROD = I.COD_PROD AND N.COD_NF_ENTRADA = I.COD_NF_ENTRADA  AND N.DATA_ENTRADA BETWEEN @DATAINI AND @DATAFIN;

/*Soma nos ID foi solicitada por um BUG no sistema da FIT os ID em seguenciais do DB está conflitando
pediram para somar 1000000000 para resolver o problema temporariamente.*/
SELECT I.COD_NF_SAIDA AS CODIGO,
ROW_NUMBER()OVER(PARTITION BY I.COD_NF_SAIDA ORDER BY I.COD_NF_SAIDA) AS NITEM , 
CASE 
WHEN I.COD_PROD = 0 THEN I.COD_SERV
WHEN I.COD_SERV = 0 THEN I.COD_PROD 
END AS CODPRODSERV ,
CASE
WHEN I.CFOP_NF_SAIDA = '1.556' THEN   '0'
WHEN I.CFOP_NF_SAIDA = '1303'  THEN   '0'
WHEN I.CFOP_NF_SAIDA = '1253'  THEN   '0'
WHEN I.CFOP_NF_SAIDA = '1.556' THEN   '0'
ELSE '1'
END GERAESTOQUE , 
P.DESC_PROD AS DESCRICAO , 
I.QTDE_NF_SAIDA AS QUANTIDADE , I.VALOR_NF_SAIDA AS VALORUNITARIO , 
I.VALOR_NF_SAIDA * I.QTDE_NF_SAIDA AS VALORTOTAL, I.DESCONTO_NF_SAIDA AS VALORDESCONTO , 
I.SITTRIB_NF_SAIDA AS CST , I.CFOP_NF_SAIDA AS CFOP , N.COD_NAT AS CODNAT ,
I.QTDE_NF_SAIDA * I.VALOR_NF_SAIDA * I.ICMS_NF_SAIDA / 100  AS VALORICMS  , I.BASEST_NF_SAIDA AS BASEICMSST , 
I.ST_NF_SAIDA AS VALORST , I.PIS_NF_SAIDA AS VALORPIS , I.COFINS_NF_SAIDA AS VALORCOFINS , 
I.ICMS_NF_SAIDA AS ICMSALIQUOTA , I.IPI_NF_SAIDA AS IPIALIQUOTA ,
/*BASEST_NF_SAIDA*/ I.VALOR_NF_SAIDA * I.QTDE_NF_SAIDA AS BASEST , I.VALORIPI_NF_SAIDA AS VALORIPI  , 
CONVERT(DECIMAL(10,2),(I.VALOR_NF_SAIDA * I.QTDE_NF_SAIDA)+ I.FRETE_NF_SAIDA + I.VALORIPI_NF_SAIDA - I.DESCONTO_NF_SAIDA ) AS VALORCONTABIL
FROM ITM_NFE_SAIDA AS I , PRODUTOS AS P , NFE AS N 
WHERE P.COD_PROD = I.COD_PROD AND N.COD_NF_SAIDA = I.COD_NF_SAIDA  AND 
N.DATAEMIS_NF_SAIDA BETWEEN @DATAINI AND @DATAFIN AND N.TIPO_NF_SAIDA = 'E';

 



