USE [techcd]
GO
/****** Object:  StoredProcedure [dbo].[SP_REL_CONSULTOR_FATURAMENTO_HEADER]    Script Date: 07/07/2017 14:15:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, THIAGO OLIVEIRA>
-- Create date: <Create 02-09-2016,,>
-- Description:	<Description,,RELATORIO SOLICITANDO PELO CONSULTOR PARA DETALHAMENTO DO FATURAMETO>
-- =============================================
ALTER PROCEDURE [dbo].[SP_REL_CONSULTOR_FATURAMENTO_HEADER] 
	@INI as DATETIME,
	@FIM as DATETIME 
AS
BEGIN
	
--------------------------------------------------------------------------------------------- CABEÇALHO  TECHCD 

SELECT 'TECHCD' AS EMPRESA,  NFE.COD_NF_SAIDA AS CODIGO, CONVERT(NVARCHAR,NFE.DATAEMIS_NF_SAIDA,103) AS DATA_EMISSAO_NFE,  
OS_NF.COD_OS AS OS, CONVERT(NVARCHAR,OS.DATA1_OS,103) AS DATA_EMISSAO_OS, CLI.COD_CLI AS CODIGO_CLIENTE,
CLI.NOME_CLI AS NOME_CLIENTE, FUNC.NOME_FUNC AS [VENDEDOR] ,CASE 
WHEN CLI.PES_CLI = 'j' THEN CLI.CNPJ_CLI
ELSE CLI.CPF_CLI END CNPJ_CPF, NAT.DESC_NAT AS [NATUREZA DA OPERAÇÃO] ,
CONT.NUM_CONTRATO AS [CODIGO CONTRATO], TC.NOME_TIP_CONT AS [TIPO CONTRATO], U.NOME_UNID_NEG AS [UNIDADE DE NEGOCIO], 
NFE.TOTFRETE_NF_SAIDA AS VALOR_FRETE, NFE.TOTPROD_NF_SAIDA AS TOTAL_PRODUTO, NFE.TOTSERV_NF_SAIDA AS TOTAL_SERVICO, 
NFE.SUBST_TRIBUTARIA AS ST,NFE.VAL_ICMS AS ICMS, 
NFE.IPI_NF_SAIDA AS IPI, NFE.TOTAL_NF_SAIDA AS TOTAL_NFE , 
CASE 
WHEN NFE.CANC_NF_SAIDA = 0 THEN 'ATIVA'
WHEN NFE.CANC_NF_SAIDA = 1 THEN 'CANCELADA' 
END AS [STATUS NFE]
FROM NFE AS NFE 
LEFT JOIN OS_NF AS OS_NF ON OS_NF.COD_NF_SAIDA = NFE.COD_NF_SAIDA
INNER JOIN CLIENTES AS CLI ON CLI.COD_CLI = NFE.COD_CLI
INNER JOIN FUNCIONARIOS AS FUNC ON FUNC.COD_FUNC = NFE.COD_VEND
INNER JOIN NATUREZA_OPERACAO AS NAT ON NAT.COD_NAT = NFE.COD_NAT
LEFT JOIN OS ON OS.COD_OS = OS_NF.COD_OS

LEFT JOIN CONTRATO_CLIENTE AS CC ON CC.COD_CLI = CLI.COD_CLI AND CC.COD_CONTRATO = OS.COD_CONTRATO
LEFT JOIN CONTRATO AS CONT ON CONT.COD_CONTRATO = CC.COD_CONTRATO
LEFT JOIN UNIDADE_NEGOCIO AS U ON U.COD_UNID_NEG = CC.COD_UNID_NEG AND CC.COD_CONTRATO =  CONT.COD_CONTRATO
LEFT JOIN TIPO_CONTRATO AS TC ON TC.COD_TIP_CONT = CONT.COD_TIP_CONT

/* consultor solicitou para retirar o filtro por data de OS */
WHERE NFE.DATAEMIS_NF_SAIDA BETWEEN @INI AND @FIM /*AND OS.DAT1_OS BETWEEN @INI AND @FIM*/
AND OS_NF.MODELO_NF = 'N' AND OS_NF.EMPRESA_NF_SAIDA = 'T'

UNION all 

SELECT 'TECHCD SERVIÇO' AS EMPRESA,  NFE.COD_NF_SAIDA AS CODIGO, CONVERT(NVARCHAR,NFE.DATAEMIS_NF_SAIDA,103) AS DATA_EMISSAO_NFE,  
OS_NF.COD_OS AS OS, CONVERT(NVARCHAR,OS.DATA1_OS,103) AS DATA_EMISSAO_OS, CLI.COD_CLI AS CODIGO_CLIENTE,
CLI.NOME_CLI AS NOME_CLIENTE, FUNC.NOME_FUNC AS [VENDEDOR] ,CASE 
WHEN CLI.PES_CLI = 'j' THEN CLI.CNPJ_CLI
ELSE CLI.CPF_CLI END CNPJ_CPF, NAT.DESC_NAT AS [NATUREZA DA OPERAÇÃO] ,
CONT.NUM_CONTRATO AS [CODIGO CONTRATO], TC.NOME_TIP_CONT AS [TIPO CONTRATO], U.NOME_UNID_NEG AS [UNIDADE DE NEGOCIO],
NFE.TOTFRETE_NF_SAIDA AS VALOR_FRETE, NFE.TOTPROD_NF_SAIDA AS TOTAL_PRODUTO, NFE.TOTSERV_NF_SAIDA AS TOTAL_SERVICO, 
NFE.SUBST_TRIBUTARIA AS ST,NFE.VAL_ICMS AS ICMS, 
NFE.IPI_NF_SAIDA AS IPI, NFE.TOTAL_NF_SAIDA AS TOTAL_NFE , 
CASE 
WHEN NFE.CANC_NF_SAIDA = 0 THEN 'ATIVA'
WHEN NFE.CANC_NF_SAIDA = 1 THEN 'CANCELADA' 
END AS [STATUS NFE]
FROM NFE_SRV AS NFE 
LEFT JOIN OS_NF AS OS_NF ON OS_NF.COD_NF_SAIDA = NFE.COD_NF_SAIDA
INNER JOIN CLIENTES AS CLI ON CLI.COD_CLI = NFE.COD_CLI
INNER JOIN FUNCIONARIOS AS FUNC ON FUNC.COD_FUNC = NFE.COD_VEND
INNER JOIN NATUREZA_OPERACAO AS NAT ON NAT.COD_NAT = NFE.COD_NAT
LEFT JOIN OS ON OS.COD_OS = OS_NF.COD_OS
LEFT JOIN CONTRATO_CLIENTE AS CC ON CC.COD_CLI = CLI.COD_CLI AND CC.COD_CONTRATO = OS.COD_CONTRATO
LEFT JOIN CONTRATO AS CONT ON CONT.COD_CONTRATO = CC.COD_CONTRATO AND OS.COD_CONTRATO =  CONT.COD_CONTRATO
LEFT JOIN UNIDADE_NEGOCIO AS U ON U.COD_UNID_NEG = CC.COD_UNID_NEG AND CC.COD_CONTRATO =  CONT.COD_CONTRATO
LEFT JOIN TIPO_CONTRATO AS TC ON TC.COD_TIP_CONT = CONT.COD_TIP_CONT
/*as notas de serviço precisam manter o filtro de data por OS, senão o relatorio traz datas OS 
antigas isso por causa que o banco não esta normalizado, e como foi criado um outra tabela pra NFS comoçando
do zero ele acabaca não entendedo, mão houve tempo nem prioridade para esse ajuste */
WHERE NFE.DATAEMIS_NF_SAIDA BETWEEN @INI AND @FIM AND OS.DATA1_OS BETWEEN @INI AND @FIM
AND OS_NF.MODELO_NF = 'N' AND OS_NF.EMPRESA_NF_SAIDA = 'T'

UNION all 
--------------------------------------------------------------------------------------------------------- CABEÇALHO  MIDIA CENTER 
SELECT 'MIDIA CENTER' AS EMPRESA,  NFE.COD_NF_SAIDA AS CODIGO, 
CONVERT(NVARCHAR,NFE.DATAEMIS_NF_SAIDA,103) AS DATA_EMISSAO_NFE,  
OS_NF.COD_OS AS OS, CONVERT(NVARCHAR,OS.DATA1_OS,103) AS DATA_EMISSAO_OS, CLI.COD_CLI AS CODIGO_CLIENTE,
CLI.NOME_CLI AS NOME_CLIENTE, FUNC.NOME_FUNC AS [VENDEDOR]  ,CASE 
WHEN CLI.PES_CLI = 'j' THEN CLI.CNPJ_CLI
ELSE CLI.CPF_CLI END CNPJ_CPF, NAT.DESC_NAT AS [NATUREZA DA OPERAÇÃO] ,
CONT.NUM_CONTRATO AS [CODIGO CONTRATO], TC.NOME_TIP_CONT AS [TIPO CONTRATO], U.NOME_UNID_NEG AS [UNIDADE DE NEGOCIO],
NFE.TOTFRETE_NF_SAIDA AS VALOR_FRETE, NFE.TOTPROD_NF_SAIDA AS TOTAL_PRODUTO, NFE.TOTSERV_NF_SAIDA AS TOTAL_SERVICO, 
NFE.SUBST_TRIBUTARIA AS ST,NFE.VAL_ICMS AS ICMS, 
NFE.IPI_NF_SAIDA AS IPI, NFE.TOTAL_NF_SAIDA AS TOTAL_NFE , 
CASE 
WHEN NFE.CANC_NF_SAIDA = 0 THEN 'ATIVA'
WHEN NFE.CANC_NF_SAIDA = 1 THEN 'CANCELADA' 
END AS [STATUS NFE]
FROM NFE_MIDIA AS NFE 
LEFT JOIN OS_NF AS OS_NF ON OS_NF.COD_NF_SAIDA = NFE.COD_NF_SAIDA
INNER JOIN CLIENTES AS CLI ON CLI.COD_CLI = NFE.COD_CLI
INNER JOIN FUNCIONARIOS AS FUNC ON FUNC.COD_FUNC = NFE.COD_VEND
INNER JOIN NATUREZA_OPERACAO AS NAT ON NAT.COD_NAT = NFE.COD_NAT
LEFT JOIN OS ON OS.COD_OS = OS_NF.COD_OS
LEFT JOIN CONTRATO_CLIENTE AS CC ON CC.COD_CLI = CLI.COD_CLI AND CC.COD_CONTRATO = OS.COD_CONTRATO
LEFT JOIN CONTRATO AS CONT ON CONT.COD_CONTRATO = CC.COD_CONTRATO
LEFT JOIN UNIDADE_NEGOCIO AS U ON U.COD_UNID_NEG = CC.COD_UNID_NEG AND CC.COD_CONTRATO =  CONT.COD_CONTRATO
LEFT JOIN TIPO_CONTRATO AS TC ON TC.COD_TIP_CONT = CONT.COD_TIP_CONT
WHERE NFE.DATAEMIS_NF_SAIDA BETWEEN @INI AND @FIM /* AND OS.DATA1_OS BETWEEN @INI AND @FIM */
AND OS_NF.MODELO_NF = 'N' AND OS_NF.EMPRESA_NF_SAIDA = 'M'

UNION all

SELECT 'MIDIA CENTER SERVIÇO' AS EMPRESA,  NFE.COD_NF_SAIDA AS CODIGO, 
CONVERT(NVARCHAR,NFE.DATAEMIS_NF_SAIDA,103) AS DATA_EMISSAO_NFE,  
OS_NF.COD_OS AS OS, CONVERT(NVARCHAR,OS.DATA1_OS,103) AS DATA_EMISSAO_OS, CLI.COD_CLI AS CODIGO_CLIENTE,
CLI.NOME_CLI AS NOME_CLIENTE, FUNC.NOME_FUNC AS [VENDEDOR] ,CASE 
WHEN CLI.PES_CLI = 'j' THEN CLI.CNPJ_CLI
ELSE CLI.CPF_CLI END CNPJ_CPF, NAT.DESC_NAT AS [NATUREZA DA OPERAÇÃO] ,
CONT.NUM_CONTRATO AS [CODIGO CONTRATO], TC.NOME_TIP_CONT AS [TIPO CONTRATO], U.NOME_UNID_NEG AS [UNIDADE DE NEGOCIO],
NFE.TOTFRETE_NF_SAIDA AS VALOR_FRETE, NFE.TOTPROD_NF_SAIDA AS TOTAL_PRODUTO, NFE.TOTSERV_NF_SAIDA AS TOTAL_SERVICO, 
NFE.SUBST_TRIBUTARIA AS ST,NFE.VAL_ICMS AS ICMS, 
NFE.IPI_NF_SAIDA AS IPI, NFE.TOTAL_NF_SAIDA AS TOTAL_NFE , 
CASE 
WHEN NFE.CANC_NF_SAIDA = 0 THEN 'ATIVA'
WHEN NFE.CANC_NF_SAIDA = 1 THEN 'CANCELADA' 
END AS [STATUS NFE]
FROM NFE_MIDIA_SRV AS NFE 
LEFT JOIN OS_NF AS OS_NF ON OS_NF.COD_NF_SAIDA = NFE.COD_NF_SAIDA
INNER JOIN CLIENTES AS CLI ON CLI.COD_CLI = NFE.COD_CLI
INNER JOIN FUNCIONARIOS AS FUNC ON FUNC.COD_FUNC = NFE.COD_VEND
INNER JOIN NATUREZA_OPERACAO AS NAT ON NAT.COD_NAT = NFE.COD_NAT
LEFT JOIN OS ON OS.COD_OS = OS_NF.COD_OS
LEFT JOIN CONTRATO_CLIENTE AS CC ON CC.COD_CLI = CLI.COD_CLI AND CC.COD_CONTRATO = OS.COD_CONTRATO
LEFT JOIN CONTRATO AS CONT ON CONT.COD_CONTRATO = CC.COD_CONTRATO
LEFT JOIN UNIDADE_NEGOCIO AS U ON U.COD_UNID_NEG = CC.COD_UNID_NEG AND CC.COD_CONTRATO =  CONT.COD_CONTRATO
LEFT JOIN TIPO_CONTRATO AS TC ON TC.COD_TIP_CONT = CONT.COD_TIP_CONT
/*as notas de serviço precisam manter o filtro de data por OS, senão o relatorio traz datas OS 
antigas isso por causa que o banco não esta normalizado, e como foi criado um outra tabela pra NFS comoçando
do zero ele acabaca não entendedo, houve tempo nem prioridade para esse ajuste */
WHERE NFE.DATAEMIS_NF_SAIDA BETWEEN @INI AND @FIM AND OS.DATA1_OS BETWEEN @INI AND @FIM
AND OS_NF.MODELO_NF = 'N' AND OS_NF.EMPRESA_NF_SAIDA = 'M'


UNION all 
------------------------------------------------------------------------------------------------------- CABEÇALHO  DATA STORE  
SELECT 'DATA STORE' AS EMPRESA,  NFE.COD_NF_SAIDA AS CODIGO, 
CONVERT(NVARCHAR,NFE.DATAEMIS_NF_SAIDA,103) AS DATA_EMISSAO_NFE,  
OS_NF.COD_OS AS OS, CONVERT(NVARCHAR,OS.DATA1_OS,103) AS DATA_EMISSAO_OS, CLI.COD_CLI AS CODIGO_CLIENTE,
CLI.NOME_CLI AS NOME_CLIENTE, FUNC.NOME_FUNC AS [VENDEDOR] ,CASE 
WHEN CLI.PES_CLI = 'j' THEN CLI.CNPJ_CLI
ELSE CLI.CPF_CLI END CNPJ_CPF, NAT.DESC_NAT AS [NATUREZA DA OPERAÇÃO] ,
CONT.NUM_CONTRATO AS [CODIGO CONTRATO], TC.NOME_TIP_CONT AS [TIPO CONTRATO], U.NOME_UNID_NEG AS [UNIDADE DE NEGOCIO],
NFE.TOTFRETE_NF_SAIDA AS VALOR_FRETE, NFE.TOTPROD_NF_SAIDA AS TOTAL_PRODUTO, NFE.TOTSERV_NF_SAIDA AS TOTAL_SERVICO, 
NFE.SUBST_TRIBUTARIA AS ST,NFE.VAL_ICMS AS ICMS, 
NFE.IPI_NF_SAIDA AS IPI, NFE.TOTAL_NF_SAIDA AS TOTAL_NFE , 
CASE 
WHEN NFE.CANC_NF_SAIDA = 0 THEN 'ATIVA'
WHEN NFE.CANC_NF_SAIDA = 1 THEN 'CANCELADA' 
END AS [STATUS NFE]
FROM NFE_DATA AS NFE 
LEFT JOIN OS_NF AS OS_NF ON OS_NF.COD_NF_SAIDA = NFE.COD_NF_SAIDA
INNER JOIN CLIENTES AS CLI ON CLI.COD_CLI = NFE.COD_CLI
INNER JOIN FUNCIONARIOS AS FUNC ON FUNC.COD_FUNC = NFE.COD_VEND
INNER JOIN NATUREZA_OPERACAO AS NAT ON NAT.COD_NAT = NFE.COD_NAT
LEFT JOIN OS ON OS.COD_OS = OS_NF.COD_OS
LEFT JOIN CONTRATO_CLIENTE AS CC ON CC.COD_CLI = CLI.COD_CLI AND CC.COD_CONTRATO = OS.COD_CONTRATO
LEFT JOIN CONTRATO AS CONT ON CONT.COD_CONTRATO = CC.COD_CONTRATO
LEFT JOIN UNIDADE_NEGOCIO AS U ON U.COD_UNID_NEG = CC.COD_UNID_NEG AND CC.COD_CONTRATO =  CONT.COD_CONTRATO
LEFT JOIN TIPO_CONTRATO AS TC ON TC.COD_TIP_CONT = CONT.COD_TIP_CONT
WHERE NFE.DATAEMIS_NF_SAIDA BETWEEN @INI AND @FIM /* AND OS.DATA1_OS BETWEEN @INI AND @FIM*/ 
AND OS_NF.MODELO_NF = 'N' AND OS_NF.EMPRESA_NF_SAIDA =  'D'

UNION all

SELECT 'DATA STORE SERVICO' AS EMPRESA,  NFE.COD_NF_SAIDA AS CODIGO,
 CONVERT(NVARCHAR,NFE.DATAEMIS_NF_SAIDA,103) AS DATA_EMISSAO_NFE,  
OS_NF.COD_OS AS OS, CONVERT(NVARCHAR,OS.DATA1_OS,103) AS DATA_EMISSAO_OS, CLI.COD_CLI AS CODIGO_CLIENTE,
CLI.NOME_CLI AS NOME_CLIENTE, FUNC.NOME_FUNC AS [VENDEDOR] ,CASE 
WHEN CLI.PES_CLI = 'j' THEN CLI.CNPJ_CLI
ELSE CLI.CPF_CLI END CNPJ_CPF, NAT.DESC_NAT AS [NATUREZA DA OPERAÇÃO] ,
CONT.NUM_CONTRATO AS [CODIGO CONTRATO], TC.NOME_TIP_CONT AS [TIPO CONTRATO], U.NOME_UNID_NEG AS [UNIDADE DE NEGOCIO],
NFE.TOTFRETE_NF_SAIDA AS VALOR_FRETE, NFE.TOTPROD_NF_SAIDA AS TOTAL_PRODUTO, NFE.TOTSERV_NF_SAIDA AS TOTAL_SERVICO, 
NFE.SUBST_TRIBUTARIA AS ST,NFE.VAL_ICMS AS ICMS, 
NFE.IPI_NF_SAIDA AS IPI, NFE.TOTAL_NF_SAIDA AS TOTAL_NFE , 
CASE 
WHEN NFE.CANC_NF_SAIDA = 0 THEN 'ATIVA'
WHEN NFE.CANC_NF_SAIDA = 1 THEN 'CANCELADA' 
END AS [STATUS NFE]
FROM NFE_DATA_SRV AS NFE 
LEFT JOIN OS_NF AS OS_NF ON OS_NF.COD_NF_SAIDA = NFE.COD_NF_SAIDA
INNER JOIN CLIENTES AS CLI ON CLI.COD_CLI = NFE.COD_CLI
INNER JOIN FUNCIONARIOS AS FUNC ON FUNC.COD_FUNC = NFE.COD_VEND
INNER JOIN NATUREZA_OPERACAO AS NAT ON NAT.COD_NAT = NFE.COD_NAT
LEFT JOIN OS ON OS.COD_OS = OS_NF.COD_OS
LEFT JOIN CONTRATO_CLIENTE AS CC ON CC.COD_CLI = CLI.COD_CLI AND CC.COD_CONTRATO = OS.COD_CONTRATO
LEFT JOIN CONTRATO AS CONT ON CONT.COD_CONTRATO = CC.COD_CONTRATO
LEFT JOIN UNIDADE_NEGOCIO AS U ON U.COD_UNID_NEG = CC.COD_UNID_NEG AND CC.COD_CONTRATO =  CONT.COD_CONTRATO
LEFT JOIN TIPO_CONTRATO AS TC ON TC.COD_TIP_CONT = CONT.COD_TIP_CONT
/*as notas de serviço precisam manter o filtro de data por OS, senão o relatorio traz datas OS 
antigas isso por causa que o banco não esta normalizado, e como foi criado um outra tabela pra NFS comoçando
do zero ele acabaca não entendedo, houve tempo nem prioridade para esse ajuste */
WHERE NFE.DATAEMIS_NF_SAIDA BETWEEN @INI AND @FIM AND OS.DATA1_OS BETWEEN @INI AND @FIM 
AND OS_NF.MODELO_NF = 'N' AND OS_NF.EMPRESA_NF_SAIDA = 'D'


order by  nfe.COD_NF_SAIDA asc 
END
