USE [techcd]
GO
/****** Object:  StoredProcedure [dbo].[SP_REL_CONSULTOR_FATURAMENTO_DETAIL]    Script Date: 07/07/2017 15:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, THIAGO OLIVEIRA>
-- Create date: <Create 02-09-2016,,>
-- Description:	<Description,,RELATORIO SOLICITANDO PELO CONSULTOR PARA DETALHAMENTO DO FATURAMETO>
-- =============================================
ALTER PROCEDURE [dbo].[SP_REL_CONSULTOR_FATURAMENTO_DETAIL] 
	@INI as DATETIME,
	@FIM as DATETIME 
AS
BEGIN
	
	-----------------------------------------------------------------  TECHCD 

SELECT 'TECHCD' AS ENPRESA, NFE.DATAEMIS_NF_SAIDA AS EMISSAO , 
CASE 
WHEN  NFE.CANC_NF_SAIDA = 0 THEN 'ATIVA'
WHEN NFE.CANC_NF_SAIDA = 1  THEN 'CANCELADA'
END [STATUS NFE],  NAT.DESC_NAT AS [NATUREZA DA OPERAÇÃO],
CASE 
WHEN NFE.PES_CLI = 'J' THEN NFE.CNPJ_CLI
WHEN NFE.PES_CLI = 'F' THEN NFE.CPF_CLI END AS [CPF/CNPJ],
NFE.COD_CLI AS [CODIGO CLIENTE], NFE.NOME_CLI , FUNC.NOME_FUNC AS [VENDEDOR] ,
OS_NF.COD_OS, ITEM.COD_NF_SAIDA, 
CASE WHEN ITEM.COD_PROD = 0 THEN ITEM.COD_SERV 
ELSE ITEM.COD_PROD END SERVICO_PRODUTO,  
CASE WHEN ITEM.COD_PROD = 0 THEN SERV.DESC_SERV ELSE PROD.DESC_PROD END DESCRICAO_SERVICO_PRODUTO,  
CASE WHEN ITEM.COD_PROD = 0 THEN 'SERVICO' ELSE 'PRODUTO' END TIPO_PRODUTO_SERVICO,  
ITEM.QTDE_NF_SAIDA AS QUANTIDADE, ITEM.VALOR_NF_SAIDA AS VALOR_UNITARIO,
(ITEM.QTDE_NF_SAIDA * ITEM.VALOR_NF_SAIDA) AS VALOR_TOTAL_DO_ITEM
FROM ITM_NFE_SAIDA AS ITEM 
INNER JOIN NFE AS NFE ON NFE.COD_NF_SAIDA =  ITEM.COD_NF_SAIDA
INNER JOIN NATUREZA_OPERACAO AS NAT ON NAT.COD_NAT = NFE.COD_NAT
INNER JOIN FUNCIONARIOS AS FUNC ON FUNC.COD_FUNC = NFE.COD_VEND
LEFT JOIN PRODUTOS AS PROD ON PROD.COD_PROD = ITEM.COD_PROD
LEFT JOIN SERVICOS AS SERV ON SERV.COD_SERV = ITEM.COD_SERV
LEFT JOIN OS_NF ON OS_NF.COD_NF_SAIDA = NFE.COD_NF_SAIDA AND OS_NF.MODELO_NF ='N' AND OS_NF.EMPRESA_NF_SAIDA ='T'
LEFT JOIN OS ON OS.COD_OS = OS_NF.COD_OS
LEFT JOIN CONTRATO_CLIENTE ON CONTRATO_CLIENTE.COD_CLI = NFE.COD_CLI AND OS.COD_CONTRATO = CONTRATO_CLIENTE.COD_CONTRATO
LEFT JOIN CONTRATO ON CONTRATO.COD_CONTRATO = CONTRATO_CLIENTE.COD_CONTRATO AND OS.COD_CONTRATO =  CONTRATO.COD_CONTRATO
WHERE NFE.DATAEMIS_NF_SAIDA BETWEEN @INI AND @FIM

UNION ALL 

SELECT 'TECHCD' AS ENPRESA, NFE.DATAEMIS_NF_SAIDA AS EMISSAO , 
CASE 
WHEN  NFE.CANC_NF_SAIDA = 0 THEN 'ATIVA'
WHEN NFE.CANC_NF_SAIDA = 1  THEN 'CANCELADA'
END [STATUS NFE],  NAT.DESC_NAT AS [NATUREZA DA OPERAÇÃO],
CASE 
WHEN NFE.PES_CLI = 'J' THEN NFE.CNPJ_CLI
WHEN NFE.PES_CLI = 'F' THEN NFE.CPF_CLI END AS [CPF/CNPJ],
NFE.COD_CLI AS [CODIGO CLIENTE],NFE.NOME_CLI , FUNC.NOME_FUNC AS [VENDEDOR] , 
OS_NF.COD_OS, ITEM.COD_NF_SAIDA, 
CASE WHEN ITEM.COD_PROD = 0 THEN ITEM.COD_SERV 
ELSE ITEM.COD_PROD END SERVICO_PRODUTO,  
CASE WHEN ITEM.COD_PROD = 0 THEN SERV.DESC_SERV ELSE PROD.DESC_PROD END DESCRICAO_SERVICO_PRODUTO,  
CASE WHEN ITEM.COD_PROD = 0 THEN 'SERVICO' ELSE 'PRODUTO' END TIPO_PRODUTO_SERVICO,  
ITEM.QTDE_NF_SAIDA AS QUANTIDADE, ITEM.VALOR_NF_SAIDA AS VALOR_UNITARIO,
(ITEM.QTDE_NF_SAIDA * ITEM.VALOR_NF_SAIDA) AS VALOR_TOTAL_DO_ITEM
FROM ITM_NFE_SAIDA_SRV AS ITEM 
INNER JOIN NFE_SRV AS NFE ON NFE.COD_NF_SAIDA =  ITEM.COD_NF_SAIDA
INNER JOIN NATUREZA_OPERACAO AS NAT ON NAT.COD_NAT = NFE.COD_NAT
INNER JOIN FUNCIONARIOS AS FUNC ON FUNC.COD_FUNC = NFE.COD_VEND
LEFT JOIN PRODUTOS AS PROD ON PROD.COD_PROD = ITEM.COD_PROD
LEFT JOIN SERVICOS AS SERV ON SERV.COD_SERV = ITEM.COD_SERV
LEFT JOIN OS_NF ON OS_NF.COD_NF_SAIDA = NFE.COD_NF_SAIDA AND OS_NF.MODELO_NF ='N' AND OS_NF.EMPRESA_NF_SAIDA ='T'
LEFT JOIN OS ON OS.COD_OS = OS_NF.COD_OS 
LEFT JOIN CONTRATO_CLIENTE ON CONTRATO_CLIENTE.COD_CLI = NFE.COD_CLI AND OS.COD_CONTRATO = CONTRATO_CLIENTE.COD_CONTRATO
LEFT JOIN CONTRATO ON CONTRATO.COD_CONTRATO = CONTRATO_CLIENTE.COD_CONTRATO AND OS.COD_CONTRATO = CONTRATO.COD_CONTRATO
WHERE NFE.DATAEMIS_NF_SAIDA BETWEEN @INI AND @FIM

UNION ALL 

SELECT 'DATA STORE' AS ENPRESA, NFE.DATAEMIS_NF_SAIDA AS EMISSAO , 
CASE 
WHEN  NFE.CANC_NF_SAIDA = 0 THEN 'ATIVA'
WHEN NFE.CANC_NF_SAIDA = 1  THEN 'CANCELADA'
END [STATUS NFE],  NAT.DESC_NAT AS [NATUREZA DA OPERAÇÃO], 
CASE 
WHEN NFE.PES_CLI = 'J' THEN NFE.CNPJ_CLI
WHEN NFE.PES_CLI = 'F' THEN NFE.CPF_CLI END AS [CPF/CNPJ],
NFE.COD_CLI AS [CODIGO CLIENTE],NFE.NOME_CLI , FUNC.NOME_FUNC AS [VENDEDOR] ,
OS_NF.COD_OS, ITEM.COD_NF_SAIDA, 
CASE WHEN ITEM.COD_PROD = 0 THEN ITEM.COD_SERV 
ELSE ITEM.COD_PROD END SERVICO_PRODUTO,  
CASE WHEN ITEM.COD_PROD = 0 THEN SERV.DESC_SERV ELSE PROD.DESC_PROD END DESCRICAO_SERVICO_PRODUTO,  
CASE WHEN ITEM.COD_PROD = 0 THEN 'SERVICO' ELSE 'PRODUTO' END TIPO_PRODUTO_SERVICO,  
ITEM.QTDE_NF_SAIDA AS QUANTIDADE, ITEM.VALOR_NF_SAIDA AS VALOR_UNITARIO,
(ITEM.QTDE_NF_SAIDA * ITEM.VALOR_NF_SAIDA) AS VALOR_TOTAL_DO_ITEM
FROM ITM_NFE_SAIDA_DATA AS ITEM 
INNER JOIN NFE_DATA AS NFE ON NFE.COD_NF_SAIDA =  ITEM.COD_NF_SAIDA
INNER JOIN NATUREZA_OPERACAO AS NAT ON NAT.COD_NAT = NFE.COD_NAT
INNER JOIN FUNCIONARIOS AS FUNC ON FUNC.COD_FUNC = NFE.COD_VEND
LEFT JOIN PRODUTOS AS PROD ON PROD.COD_PROD = ITEM.COD_PROD
LEFT JOIN SERVICOS AS SERV ON SERV.COD_SERV = ITEM.COD_SERV
LEFT JOIN OS_NF ON OS_NF.COD_NF_SAIDA = NFE.COD_NF_SAIDA AND OS_NF.MODELO_NF ='N' AND OS_NF.EMPRESA_NF_SAIDA ='D'
LEFT JOIN OS ON OS.COD_OS = OS_NF.COD_OS
LEFT JOIN CONTRATO_CLIENTE ON CONTRATO_CLIENTE.COD_CLI = NFE.COD_CLI AND OS.COD_CONTRATO = CONTRATO_CLIENTE.COD_CONTRATO
LEFT JOIN CONTRATO ON CONTRATO.COD_CONTRATO = CONTRATO_CLIENTE.COD_CONTRATO AND OS.COD_CONTRATO =  CONTRATO.COD_CONTRATO
WHERE NFE.DATAEMIS_NF_SAIDA BETWEEN @INI AND @FIM
UNION ALL 

SELECT 'DATA STORE' AS ENPRESA, NFE.DATAEMIS_NF_SAIDA AS EMISSAO , 
CASE 
WHEN  NFE.CANC_NF_SAIDA = 0 THEN 'ATIVA'
WHEN NFE.CANC_NF_SAIDA = 1  THEN 'CANCELADA'
END [STATUS NFE],  NAT.DESC_NAT AS [NATUREZA DA OPERAÇÃO], 
CASE 
WHEN NFE.PES_CLI = 'J' THEN NFE.CNPJ_CLI
WHEN NFE.PES_CLI = 'F' THEN NFE.CPF_CLI END AS [CPF/CNPJ],
NFE.COD_CLI AS [CODIGO CLIENTE], NFE.NOME_CLI , FUNC.NOME_FUNC AS [VENDEDOR] ,
OS_NF.COD_OS, ITEM.COD_NF_SAIDA, 
CASE WHEN ITEM.COD_PROD = 0 THEN ITEM.COD_SERV 
ELSE ITEM.COD_PROD END SERVICO_PRODUTO,  
CASE WHEN ITEM.COD_PROD = 0 THEN SERV.DESC_SERV ELSE PROD.DESC_PROD END DESCRICAO_SERVICO_PRODUTO,  
CASE WHEN ITEM.COD_PROD = 0 THEN 'SERVICO' ELSE 'PRODUTO' END TIPO_PRODUTO_SERVICO,  
ITEM.QTDE_NF_SAIDA AS QUANTIDADE, ITEM.VALOR_NF_SAIDA AS VALOR_UNITARIO,
(ITEM.QTDE_NF_SAIDA * ITEM.VALOR_NF_SAIDA) AS VALOR_TOTAL_DO_ITEM
FROM ITM_NFE_SAIDA_DATA_SRV AS ITEM 
INNER JOIN NFE_SRV AS NFE ON NFE.COD_NF_SAIDA =  ITEM.COD_NF_SAIDA
INNER JOIN NATUREZA_OPERACAO AS NAT ON NAT.COD_NAT = NFE.COD_NAT
INNER JOIN FUNCIONARIOS AS FUNC ON FUNC.COD_FUNC = NFE.COD_VEND
LEFT JOIN PRODUTOS AS PROD ON PROD.COD_PROD = ITEM.COD_PROD
LEFT JOIN SERVICOS AS SERV ON SERV.COD_SERV = ITEM.COD_SERV
LEFT JOIN OS_NF ON OS_NF.COD_NF_SAIDA = NFE.COD_NF_SAIDA AND OS_NF.MODELO_NF ='N' AND OS_NF.EMPRESA_NF_SAIDA ='D'
LEFT JOIN OS ON OS.COD_OS = OS_NF.COD_OS 
LEFT JOIN CONTRATO_CLIENTE ON CONTRATO_CLIENTE.COD_CLI = NFE.COD_CLI AND OS.COD_CONTRATO = CONTRATO_CLIENTE.COD_CONTRATO
LEFT JOIN CONTRATO ON CONTRATO.COD_CONTRATO = CONTRATO_CLIENTE.COD_CONTRATO AND OS.COD_CONTRATO = CONTRATO.COD_CONTRATO
WHERE NFE.DATAEMIS_NF_SAIDA BETWEEN @INI AND @FIM

UNION ALL 

SELECT 'MIDIA CENTER' AS ENPRESA, NFE.DATAEMIS_NF_SAIDA AS EMISSAO , 
CASE 
WHEN  NFE.CANC_NF_SAIDA = 0 THEN 'ATIVA'
WHEN NFE.CANC_NF_SAIDA = 1  THEN 'CANCELADA'
END [STATUS NFE],  NAT.DESC_NAT AS [NATUREZA DA OPERAÇÃO], 
CASE 
WHEN NFE.PES_CLI = 'J' THEN NFE.CNPJ_CLI
WHEN NFE.PES_CLI = 'F' THEN NFE.CPF_CLI END AS [CPF/CNPJ],
NFE.COD_CLI AS [CODIGO CLIENTE], NFE.NOME_CLI , FUNC.NOME_FUNC AS [VENDEDOR] ,
OS_NF.COD_OS, ITEM.COD_NF_SAIDA, 
CASE WHEN ITEM.COD_PROD = 0 THEN ITEM.COD_SERV 
ELSE ITEM.COD_PROD END SERVICO_PRODUTO,  
CASE WHEN ITEM.COD_PROD = 0 THEN SERV.DESC_SERV ELSE PROD.DESC_PROD END DESCRICAO_SERVICO_PRODUTO,  
CASE WHEN ITEM.COD_PROD = 0 THEN 'SERVICO' ELSE 'PRODUTO' END TIPO_PRODUTO_SERVICO,  
ITEM.QTDE_NF_SAIDA AS QUANTIDADE, ITEM.VALOR_NF_SAIDA AS VALOR_UNITARIO,
(ITEM.QTDE_NF_SAIDA * ITEM.VALOR_NF_SAIDA) AS VALOR_TOTAL_DO_ITEM
FROM ITM_NFE_SAIDA_MIDIA AS ITEM 
INNER JOIN NFE_MIDIA AS NFE ON NFE.COD_NF_SAIDA =  ITEM.COD_NF_SAIDA
INNER JOIN NATUREZA_OPERACAO AS NAT ON NAT.COD_NAT = NFE.COD_NAT
INNER JOIN FUNCIONARIOS AS FUNC ON FUNC.COD_FUNC = NFE.COD_VEND
LEFT JOIN PRODUTOS AS PROD ON PROD.COD_PROD = ITEM.COD_PROD
LEFT JOIN SERVICOS AS SERV ON SERV.COD_SERV = ITEM.COD_SERV
LEFT JOIN OS_NF ON OS_NF.COD_NF_SAIDA = NFE.COD_NF_SAIDA AND OS_NF.MODELO_NF ='N' AND OS_NF.EMPRESA_NF_SAIDA ='M'
LEFT JOIN OS ON OS.COD_OS = OS_NF.COD_OS
LEFT JOIN CONTRATO_CLIENTE ON CONTRATO_CLIENTE.COD_CLI = NFE.COD_CLI AND OS.COD_CONTRATO = CONTRATO_CLIENTE.COD_CONTRATO
LEFT JOIN CONTRATO ON CONTRATO.COD_CONTRATO = CONTRATO_CLIENTE.COD_CONTRATO AND OS.COD_CONTRATO =  CONTRATO.COD_CONTRATO
WHERE NFE.DATAEMIS_NF_SAIDA BETWEEN @INI AND @FIM

UNION ALL 


SELECT 'MIDIA CENTER' AS ENPRESA, NFE.DATAEMIS_NF_SAIDA AS EMISSAO , 
CASE 
WHEN  NFE.CANC_NF_SAIDA = 0 THEN 'ATIVA'
WHEN NFE.CANC_NF_SAIDA = 1  THEN 'CANCELADA'
END [STATUS NFE],  NAT.DESC_NAT AS [NATUREZA DA OPERAÇÃO], 
CASE 
WHEN NFE.PES_CLI = 'J' THEN NFE.CNPJ_CLI
WHEN NFE.PES_CLI = 'F' THEN NFE.CPF_CLI END AS [CPF/CNPJ],
NFE.COD_CLI AS [CODIGO CLIENTE], NFE.NOME_CLI , FUNC.NOME_FUNC AS [VENDEDOR] ,
OS_NF.COD_OS, ITEM.COD_NF_SAIDA, 
CASE WHEN ITEM.COD_PROD = 0 THEN ITEM.COD_SERV 
ELSE ITEM.COD_PROD END SERVICO_PRODUTO,  
CASE WHEN ITEM.COD_PROD = 0 THEN SERV.DESC_SERV ELSE PROD.DESC_PROD END DESCRICAO_SERVICO_PRODUTO,  
CASE WHEN ITEM.COD_PROD = 0 THEN 'SERVICO' ELSE 'PRODUTO' END TIPO_PRODUTO_SERVICO,  
ITEM.QTDE_NF_SAIDA AS QUANTIDADE, ITEM.VALOR_NF_SAIDA AS VALOR_UNITARIO,
(ITEM.QTDE_NF_SAIDA * ITEM.VALOR_NF_SAIDA) AS VALOR_TOTAL_DO_ITEM
FROM ITM_NFE_SAIDA_MIDIA_SRV AS ITEM 
INNER JOIN NFE_MIDIA_SRV AS NFE ON NFE.COD_NF_SAIDA =  ITEM.COD_NF_SAIDA
INNER JOIN NATUREZA_OPERACAO AS NAT ON NAT.COD_NAT = NFE.COD_NAT
INNER JOIN FUNCIONARIOS AS FUNC ON FUNC.COD_FUNC = NFE.COD_VEND
LEFT JOIN PRODUTOS AS PROD ON PROD.COD_PROD = ITEM.COD_PROD
LEFT JOIN SERVICOS AS SERV ON SERV.COD_SERV = ITEM.COD_SERV
LEFT JOIN OS_NF ON OS_NF.COD_NF_SAIDA = NFE.COD_NF_SAIDA AND OS_NF.MODELO_NF ='N' AND OS_NF.EMPRESA_NF_SAIDA ='M'
LEFT JOIN OS ON OS.COD_OS = OS_NF.COD_OS
LEFT JOIN CONTRATO_CLIENTE ON CONTRATO_CLIENTE.COD_CLI = NFE.COD_CLI AND OS.COD_CONTRATO = CONTRATO_CLIENTE.COD_CONTRATO
LEFT JOIN CONTRATO ON CONTRATO.COD_CONTRATO = CONTRATO_CLIENTE.COD_CONTRATO AND OS.COD_CONTRATO = CONTRATO.COD_CONTRATO
WHERE NFE.DATAEMIS_NF_SAIDA BETWEEN @INI AND @FIM

ORDER BY ITEM.COD_NF_SAIDA



END
